img#Knight {
	position: absolute;
	top: 30%;
	left: 20%;
	z-index:1;

}

img#Dragon {
	position: absolute;
	top: 25%;
	right: 20%;
	z-index:1;

}

p#Counter{
	position: absolute;
	text-align:center;
	top:20%;
	left:25%;
	z-index:2;

}