body {
	height:500px;
	width: 500px;
}

img#Knight {
	position: relative;
	top: 25%;
	left: 30%;
	z-index: 1;

}

img#Equip {
	position: relative;
	top: -2.8em;
	left: 27.5%;
	z-index: 0;
}

img#Dragon {
	position: relative;
	top: 25%;
	left: 60%;
	z-index: 1;

}

p#Counter{
	position: relative;
	text-align:center;
	top:5%;
	left:5%;
	z-index: 2;

}

table {
	position: relative;
	text-align: center;
	top: 0;
	z-index: 0;
}